<!DOCTYPE html>
<html>
  <head>
    <title>TopReFormer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |msg_type, msg| %>
      <%= content_tag(:div, msg, class: "alert") %>
      <%= content_tag(:div, msg + " " + msg_type, class: "alert") %>
      <p><%=msg_type.inspect %> - <%=p msg %> </p>
    <% end %>
    <%= yield %>
    <%= params.inspect %>
    <%= p params %>
    <%= puts "hey man whats up" %>
    <%= $stderr.puts "hey ERROR ERROR ERROR" %>
  </body>
</html>
